/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public_html/admintemplate
/public_html/customertemplate
/public_html/uploads